<mat-grid-list [cols]="12" rowHeight="4rem" gutterSize="5px" responsive>


  <!--Program form-->
  <mat-grid-tile [colspan]="6" [rowspan]="5">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Subject Form</mat-card-title>
      </mat-card-header>
      <mat-card-content  id="schform">
        <mat-form [formGroup]="form">
          <mat-form-field appearance="outline">
            <mat-label>Subject Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="this.form.controls['name']?.invalid">{{this.regexes['name']['message']}}</mat-error>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="outline" >
            <mat-label>Teacher Count</mat-label>
            <input matInput formControlName="teachercount">
            <mat-error *ngIf="form.controls['teachercount']?.invalid">{{regexes['teachercount']['message']}}</mat-error>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <mat-label>Student Count</mat-label>
            <input matInput formControlName="studentcount">
            <mat-error *ngIf="this.form.controls['studentcount']?.invalid">{{this.regexes['studentcount']['message']}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" style="width: 95%">
            <mat-label>Description</mat-label>
            <textarea matInput rows="2" formControlName="description"></textarea>
            <mat-error *ngIf="this.form.controls['description'].invalid">{{this.regexes['description']['message']}}</mat-error>
          </mat-form-field>

        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="5">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Subject Form</mat-card-title>
      </mat-card-header>
      <mat-card-content id="academicForm">
        <mat-form [formGroup]="form">

          <mat-form-field appearance="outline" >
            <mat-label> Subject Medium</mat-label>
            <mat-select formControlName="submedium">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let submedium of submediums"
                          [value]="submedium">{{submedium.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Subject Status</mat-label>
            <mat-select formControlName="substatus">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let substatus of substatuses"
                          [value]="substatus">{{substatus.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" >
            <mat-label>Subject Level</mat-label>
            <mat-select formControlName="sublevel">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let sublevel of sublevels"
                          [value]="sublevel">{{sublevel.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Creator Date</mat-label>
            <input matInput [matDatepicker]="datepicker1" formControlName="creatordate">
            <mat-datepicker-toggle matIconSuffix [for]="datepicker1"></mat-datepicker-toggle>
            <mat-datepicker #datepicker1></mat-datepicker>
          </mat-form-field>
          <p></p>
          <div id="butpanel">
            <button mat-raised-button (click)="add()" [disabled]="!enaadd">Add</button>
            <button mat-raised-button (click)="clearForm()">Clear</button>
            <button mat-raised-button [disabled]="!enaupd" (click)="update()" >Update</button>
            <button mat-raised-button [disabled]="!enadel" (click)="delete()" >Delete</button>
          </div>
        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!--    Subject Table-->
  <mat-grid-tile [colspan]="12" [rowspan]="6.5" responsive>
    <mat-card class="table">
      <mat-card-header>
        <mat-card-title>Subject Table</mat-card-title>
        <div id="loading">
          <img [src]="imageurl">
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="data">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{uiassist.getProperty(element,binders[i]) }} </mat-cell>
          </ng-container>

          <ng-container *ngFor="let cscolumn of cscolumns;let i = index;" [matColumnDef]="cscolumn">
            <mat-header-cell *matHeaderCellDef>
              <mat-form [formGroup]="csearch" class="csearch">
                <mat-form-field appearance="outline">
                  <mat-label>{{csprompts[i]}}</mat-label>
                  <input matInput [formControlName]="cscolumn"
                         (keyup)="filterTable()">
                </mat-form-field>
              </mat-form>
            </mat-header-cell>
          </ng-container>


          <mat-header-row id="th" *matHeaderRowDef="columns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns" (click)="fillForm(row)" [ngClass]="{'selected-row': row === selectedRow}"></mat-row>
        </mat-table>
        <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


</mat-grid-list>


