<mat-grid-list gutterSize="7" [cols]="12" rowHeight="4rem">

  <mat-grid-tile [colspan]="12" [rowspan]="4" id="logo">

      <img class="zonologo" src="assets/3.png">

    <br/>
    <p>Zonal Education Office Akuressa</p>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="12" [rowspan]="4" id="quicklinks">
    <mat-card>
      <mat-card-content><img src="assets/1.png"></mat-card-content>
      <mat-card-footer ><a href="https://moe.gov.lk/" target="_blank">Ministry of Education</a></mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content><img src="assets/1.png"></mat-card-content>
      <mat-card-footer  class="small" ><a href="https://textbooks.moe.gov.lk/" target="_blank">Publications Dept</a></mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content><img src="assets/1.png"></mat-card-content>
      <mat-card-footer ><a href="https://www.edumin.sp.gov.lk/" target="_blank">Provincial of Education</a></mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-content><img src="assets/1.png"></mat-card-content>
      <mat-card-footer ><a href="https://www.nitf.lk/index.html" target="_blank">National Insurance </a></mat-card-footer>
    </mat-card>

    <mat-card >
      <mat-card-content><img src="assets/1.png"></mat-card-content>
      <mat-card-footer class="small" ><a href=" https://e-thaksalawalms.moe.gov.lk/" target="_blank">E-Thaksalava</a></mat-card-footer>
    </mat-card>


  </mat-grid-tile>

<!--  <mat-grid-tile [colspan]="2" [rowspan]="4" >-->
<!--    <mat-card>-->
<!--      <mat-card-title>User Specific Messages</mat-card-title>-->
<!--      <mat-card-content >-->
<!--        <mat-list>-->
<!--          <mat-list-item *ngFor="let message of userspecmessages">-->
<!--            <mat-icon matListItemIcon> email</mat-icon>-->
<!--            <div matListItemTitle >{{message.name}}</div>-->
<!--            <div matListItemLine>{{message.updated | date}}</div>-->
<!--          </mat-list-item>-->
<!--        </mat-list>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->


<!--  <mat-grid-tile [colspan]="2" [rowspan]="4" >-->
<!--      <mat-card>-->
<!--        <mat-card-title>General Messages</mat-card-title>-->
<!--        <mat-card-content >-->
<!--          <mat-list>-->
<!--            <mat-list-item *ngFor="let message of generalmessages">-->
<!--              <mat-icon matListItemIcon> email</mat-icon>-->
<!--              <div matListItemTitle >{{message.name}}</div>-->
<!--              <div matListItemLine>{{message.updated | date}}</div>-->
<!--            </mat-list-item>-->
<!--          </mat-list>-->
<!--        </mat-card-content>-->
<!--      </mat-card>-->
<!--  </mat-grid-tile>-->

</mat-grid-list>
<br><br><br><br><br>
