<mat-grid-list [cols]="1" rowHeight="5rem" gutterSize="10px" responsive>

  <mat-grid-tile [colspan]="1" [rowspan]="4" responsive >

        <img class="logo1" src="assets/3.png">
        <img  class="logo2" src="assets/1.png">
        <img class="logo3" src="assets/2.png">


<!--    <button mat-icon-button (click)="opened=!opened" class="btn-nav"><mat-icon>menu</mat-icon></button>-->
<!--    <mat-sidenav [(opened)]="opened" mode="side"  >-->
<!--      <mat-icon >-->
<!--        widgets-->
<!--      </mat-icon>-->
<!--    </mat-sidenav>-->
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <h1> Academic Administrative Processes Management System <br> Zonal Education Office in Akuressa</h1>
  </mat-grid-tile>


</mat-grid-list>
