<mat-grid-list [cols]="12" rowHeight="4rem" gutterSize="5px" reponsive>

  <!--Notice form-->
  <mat-grid-tile [colspan]="6" [rowspan]="7">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Notice Details</mat-card-title>
      </mat-card-header>
      <mat-card-content  id="staffForm">
        <mat-form [formGroup]="form">

          <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Notice Title</mat-label>
            <input matInput formControlName="title">
            <mat-error *ngIf="this.form.controls['title'].invalid">{{this.regexes['title']['message']}}</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" >
            <mat-label>Creator Grade-Type</mat-label>
            <mat-select formControlName="gradetype">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let gradetype of gradetypes"
                          [value]="gradetype" (click)="loadGrade(gradetype.id)">{{gradetype.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Creator Grade</mat-label>
            <mat-select formControlName="grade">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let grade of grades"
                          [value]="grade" (click)="loadStaff(grade.id)">{{grade.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Creator Name</mat-label>
            <mat-select formControlName="staffCreator">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let staff of staffCreators"
                          [value]="staff" >{{staff.fullname}}</mat-option>
            </mat-select>
          </mat-form-field>
          <p></p>
          <span id="imgpanel">
            <img [src]="imgeTeachurl">
             <input id="userImage" hidden="hidden" (change)="selectImage($event)" Select type="file" formControlName="file"><br>
            <label  for="userImage" id="selectbutton">Select</label>
            <label id="clearbutton" (click)="clearImage()">Clear</label>
            <button id="downloadbutton" [disabled]="!enprint" (click)="print()">Print</button>
             <p>{{selectedFileName}}</p>
          </span>
          <br>
          <mat-form-field appearance="outline"  style="width: 100%">
            <mat-label>Notice Message</mat-label>
            <textarea matInput rows="2" formControlName="text"></textarea>
            <mat-error *ngIf="this.form.controls['text'].invalid">{{this.regexes['text']['message']}}</mat-error>
          </mat-form-field>
          <p></p>
        </mat-form>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>

  <!--  Notice Detail-->
  <mat-grid-tile [colspan]="6" [rowspan]="7" >
    <mat-card>
      <mat-card-header>
        <mat-card-title>Notice Details</mat-card-title>
      </mat-card-header>
      <mat-card-content id="academicForm">
        <mat-form [formGroup]="form">

          <mat-form-field appearance="outline">
            <mat-label>Publish Date</mat-label>
            <input matInput [matDatepicker]="dob" formControlName="dopublished">
            <mat-datepicker-toggle matIconSuffix [for]="dob"></mat-datepicker-toggle>
            <mat-datepicker #dob></mat-datepicker>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="outline" >
            <mat-label>Expire Date</mat-label>
            <input matInput [matDatepicker]="dob1" formControlName="doexpired">
            <mat-datepicker-toggle matIconSuffix [for]="dob1"></mat-datepicker-toggle>
            <mat-datepicker #dob1></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Modified Date</mat-label>
            <input matInput [matDatepicker]="datepicker3" formControlName="domodified" >
            <mat-datepicker-toggle matIconSuffix [for]="datepicker3"></mat-datepicker-toggle>
            <mat-datepicker #datepicker3></mat-datepicker>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="outline" >
            <mat-label>Notice Category</mat-label>
            <mat-select formControlName="noticecategory">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let noticecategory of noticecatgories"
                          [value]="noticecategory">{{noticecategory.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline"  >
            <mat-label>Notice Priority</mat-label>
            <mat-select formControlName="noticepriority">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let noticepriority of noticepriorities"
                          [value]="noticepriority" >{{noticepriority.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Notice Status</mat-label>
            <mat-select formControlName="noticestatus">
              <mat-option [value]="null" selected>Not Selected</mat-option>
              <mat-option *ngFor="let noticestatus of noticestatuses"
                          [value]="noticestatus">{{noticestatus.name}}</mat-option>
            </mat-select>
          </mat-form-field>

          <div id="butpanel">
            <button mat-raised-button (click)="add()" [disabled]="!enaadd">Add</button>
            <button mat-raised-button (click)="clearForm()">Clear</button>
            <button mat-raised-button [disabled]="!enaupd" (click)="update()" >Update</button>
            <button mat-raised-button [disabled]="!enadel" (click)="delete()" >Delete</button>
          </div>
        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <!--  Search-->
<!--  <mat-grid-tile [colspan]="12" [rowspan]="3.5">-->
<!--    <mat-card  id="ssearch">-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>Academic Search</mat-card-title>-->
<!--      </mat-card-header>-->
<!--      <mat-card-content>-->

<!--        <mat-from [formGroup]="ssearch">-->

<!--          <mat-form-field appearance="outline" style="color: white">-->
<!--            <mat-label>Search by Calling Name</mat-label>-->
<!--            <input matInput formControlName="sscallingname">-->
<!--          </mat-form-field>-->

<!--          <mat-form-field appearance="outline">-->
<!--            <mat-label>Search by NIC</mat-label>-->
<!--            <input matInput formControlName="ssnic">-->
<!--          </mat-form-field>-->

<!--&lt;!&ndash;          <mat-form-field appearance="outline">&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-label>Gender</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-select formControlName="ssgender">&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-option [value]="null" selected>Not Selected</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-option *ngFor="let gender of genders" [value]="gender.id">{{gender.name}}</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;            </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-form-field>&ndash;&gt;-->

<!--&lt;!&ndash;          <mat-form-field appearance="outline">&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-label>Status</mat-label>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-select formControlName="ssStatus">&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-option [value]="null" selected>Not Selected</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-option *ngFor="let empstatus of empstatuses" [value]="empstatus.id">{{empstatus.name}}</mat-option>&ndash;&gt;-->
<!--&lt;!&ndash;            </mat-select>&ndash;&gt;-->
<!--&lt;!&ndash;          </mat-form-field>&ndash;&gt;-->

<!--          <div>-->
<!--            <button mat-raised-button color="primary" (click)="btnSearchMc()" ><mat-icon>search</mat-icon>Search</button>-->
<!--            <button mat-raised-button color="primary" (click)="btnSearchClearMc()"><mat-icon>reorder</mat-icon>Clear Search</button>-->
<!--          </div>-->

<!--        </mat-from>-->

<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->

  <!--  Table-->
  <mat-grid-tile [colspan]="12" [rowspan]="6.5" responsive>
    <mat-card class="table">
      <mat-card-header>
        <mat-card-title>Notice Table</mat-card-title>
        <div id="loading">
          <img [src]="imageurl">
        </div>
      </mat-card-header>
      <mat-card-content>
        <mat-table [dataSource]="data">

          <ng-container *ngFor="let column of columns;let i = index;" [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef> {{headers[i]}} </mat-header-cell>
            <mat-cell *matCellDef="let element">{{uiassist.getProperty(element,binders[i]) }} </mat-cell>
          </ng-container>

          <ng-container *ngFor="let cscolumn of cscolumns;let i = index;" [matColumnDef]="cscolumn">
            <mat-header-cell *matHeaderCellDef>
              <mat-form [formGroup]="csearch" class="csearch">
                <mat-form-field appearance="outline">
                  <mat-label>{{csprompts[i]}}</mat-label>
                  <input matInput [formControlName]="cscolumn"
                         (keyup)="filterTable()">
                </mat-form-field>
              </mat-form>
            </mat-header-cell>
          </ng-container>


          <mat-header-row id="th" *matHeaderRowDef="columns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="cscolumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columns" (click)="fillForm(row)" [ngClass]="{'selected-row': row === selectedRow}"></mat-row>
        </mat-table>
        <mat-paginator [length]="20" [pageSize]="5" [pageSizeOptions]="[3,5,10,20]"></mat-paginator>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


</mat-grid-list>

